#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin-left: 90px;
    margin-right: 150px;
    
  
  }
  h1{
      color:#418993;
      margin-top: 150px;
      margin-left: 100px;
  }
  #front{
      color: grey;
      margin-left: 100px;
  }

  #photo:hover{
     height: 330px;
     width: 330px;
  }
  #photo{
      height: 300px;
      width: 300px;
    
      
  }
  .Adjust{
      display: flex;
      justify-content: center;
      margin: auto;
      line-height: 35px;
      width: 300px;
      
  }

  
  #sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
       top: 0;
       background-color: #fff;
  }



.chngeanimation {
     height: 40px;
     width: 100%;
     margin-top: 0px;
     overflow: hidden;
     font-family: "Poppins", sans-serif;
     background-color: teal;
   }
   .chngeanimation {
     font-size: 15px;
     font-weight: 600;
     color: rgb(238, 231, 231);
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .chngeanimation::after {
     content: " ";
     color: #fff;
     background-color: #418993;
     animation: textrotate 2s linear infinite;
     -webkit-animation: textrotate 2s linear infinite;
   }
   @keyframes textrotate {
     0% {
       content: "In-Store and Online Use Card: CLEAN10 For 10% OFF 1st purchase | details ";
     }
     50% {
       content: "";
     }
     100% {
       content: "Free Shiping over $50 | Refer a freind and get $10";
     }
    }

    .navBar {
    width: 100%;
    height: 110px;
    border: 1 px solid red;
  }
  #upper1 {
    width: 100%;
    height: 70px;

    display: grid;
    grid-template-columns: 1fr 1.8fr 1fr;
    justify-content: center;
    align-items: center;
  } 

  #lefttext {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #lefttext > div:hover {
    color: #be6274;
    border-bottom: 2px solid #be6274;
  }
  #lefttext > div {
    padding: 8px;
  }
  #righttext {
    margin: 5px;
    color: gray;
  }
  #righttext > button {
    border: 0px;
  }
  #middle1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #lower {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.25px solid rgb(220, 218, 218);
    border-top: 0.25px solid rgb(220, 218, 218);
  }
  #lower > div {
    padding: 10px;
    font-weight: 600;
  }
  #lower > div:last-child {
    color: #418993;
  }
  #lower > div:hover {
    color: #be6274;
    border-bottom: 2px solid #be6274;
    
  }
  #logod {
    height: 70px;
  }
  i{
      cursor: pointer;
  }