/* -------------------navbar start -----------------*/
#sticky {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    background-color: #fff;
}



.AnimationPart {
    height: 40px;
    width: 100%;
    margin-top: 0px;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    background-color: teal;
}

.AnimationPart {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 550;
    color: rgb(226, 215, 215);

}

.AnimationPart::after {
    content: " ";
    color: white;
    background-color: teal;
    animation: textrotate 2s linear infinite;
    -webkit-animation: textrotate 2s linear infinite;
}

@keyframes textrotate {
    0% {
        content: "In-Store and Online Use Card: CLEAN10 For 10% OFF 1st purchase || details ";
    }

    100% {
        content: "Free Shiping over $50 | Refer a freind and get $10";
    }
}

.NavigationBar {
    width: 100%;
    height: 110px;
    border: 3 px solid red;
}

#upper1 {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;

    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;


}

#lefttext {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#lefttext>div:hover {
    color: brown;
    border-bottom: 2px solid brown;
}

#lefttext>div {
    padding: 8px;
}

#righttext {
    margin: 6px;
    color: gray;
}

#righttext>button {
    border: 2px;
}

#middle1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lower {
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

#lower>div {
    padding: 10px;
    font-weight: 650;
}

#lower>div:last-child {
    color: teal;
}

#lower>div:hover {
    color: brown;
    border-bottom: 2px solid brown;
}

#logocenter {
    height: 72px;
}

i {
    margin-left: 12px;
    cursor: pointer;
}

/* -------------------navbar end -----------------*/