
 #sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
       top: 0;
       background-color: #fff;
  }



.chngeanimation {
     height: 40px;
     width: 100%;
     margin-top: 0px;
     overflow: hidden;
     font-family: "Poppins", sans-serif;
     background-color: teal;
   }
   .chngeanimation {
     font-size: 15px;
     font-weight: 600;
     color: rgb(238, 231, 231);
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .chngeanimation::after {
     content: " ";
     color: #fff;
     background-color: #418993;
     animation: textrotate 2s linear infinite;
     -webkit-animation: textrotate 2s linear infinite;
   }
   @keyframes textrotate {
     0% {
       content: "In-Store and Online Use Card: CLEAN10 For 10% OFF 1st purchase | details ";
     }
     50% {
       content: "";
     }
     100% {
       content: "Free Shiping over $50 | Refer a freind and get $10";
     }
    }

    .navBar {
    width: 100%;
    height: 110px;
    border: 1 px solid red;
  }
  #upper1 {
    width: 100%;
    height: 70px;

    display: grid;
    grid-template-columns: 1fr 1.8fr 1fr;
    justify-content: center;
    align-items: center;
  } 

  #lefttext {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #lefttext > div:hover {
    color: #be6274;
    border-bottom: 2px solid #be6274;
  }
  #lefttext > div {
    padding: 8px;
  }
  #righttext {
    margin: 5px;
    color: gray;
  }
  #righttext > button {
    border: 0px;
  }
  #middle1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #lower {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.25px solid rgb(220, 218, 218);
    border-top: 0.25px solid rgb(220, 218, 218);
  }
  #lower > div {
    padding: 10px;
    font-weight: 600;
  }
  #lower > div:last-child {
    color: #418993;
  }
  #lower > div:hover {
    color: #be6274;
    border-bottom: 2px solid #be6274;
  }
  #logod {
    height: 70px;
  }
  i{
      cursor: pointer;
  }
  #sticky:hover{
    cursor: pointer;
  }


#head{
    height: 80px;
        width: 40%;
        border-bottom: 3px solid black;
        font-size: 30px;
        margin: auto;
        font-family: 'Crimson Pro', serif;
        margin-top: 40px;
        
}
#details{
    height: 550px;
    width: 30%;
    margin: auto;
        margin-top: 50px;
        font-size: 15px;
        color: #231F20;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        margin-bottom: 40px;
}
.enterdata{
        width: 99%;
        height: 40px;
        border: 0.05px solid grey;
}
.star{
    color: red;
}
#submit{
        margin-top: 30px;
        background-color: #be6274;
        color: white;
        border: none;
        width: 100%;
        height: 40px;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
}
#lastline{
    text-align: right;

}
#greenlogin{
    color: #03A196;
}
#logindirectory{
    text-decoration: none;
}